<main>
  <div class="newInfo">
    <div class="newInfoForm">
      <p>Welcome to DevMountain Social <br>Add Some Info So Friends Can Find You</p>
    <input type="text" name="" placeholder="Full Name"><br>
    <input type="text" name="" placeholder="Tagline"><br>
    <input type="text" name="" placeholder="Profile Image Url"><br>
    <input type="text" name="" placeholder="Bio"><br>
    <button type="button" name="button">Save Changes</button>
    </div>
    <div class="triangleViews">

    </div>
  </div>

</main>
